$colors: (
    primary: #0B0B1E,
    secondary: #1B1C4B,
    primary-light: #696BC9,
    contrast: #FAFFFD,
    accent: #70EE9C,
    test: #393EC8,
    accent-gradient: linear-gradient(to right bottom, rgba(112, 238, 156, 0.9), rgba(143, 224, 147, 0.9))
    
)

